body {
    background-color: rgb(247, 247, 238);
    text-align:center;
}

#bar p {
    display:inline-block;
}

#block-area {
    display:inline-block;
}

.unopened {
    width: 28px;
    height: 28px;
    border-width: 1px;
    border-style: outset;
    background-color: rgb(116, 107, 91);
}

.opened {
    width: 28px;
    height: 28px;
    border-width: 1px;
    border-style: outset;
    background-color:rgb(156, 156, 156);
}

.row {
    border-style: none;
    width: 910px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    text-align:center;
}

.bomb {
    background-color:red;
}

.bomb0 {
    background-color: rgb(146, 0, 0);
}

.flagged {
    background-color: blue;
}